#header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(90deg, #3d5266, #0f1011);
}

.form-label {
  font-size: 1.4em;
}
select {
  font-size: 1em;
  margin-right: 1.5em;
  border-radius: 5px;
  padding: 0.25em;
}
